<div class="app-slides">
  <!--Navigation-->
  <div class="go-back" (click)="gotoLandingPage()">X</div>
  <div
    class="arrow arrow-previous"
    *ngIf="activeslide > 0"
    (click)="navigate(-1, 'previous')"
  >
    &#8630;
  </div>
  <div
    class="arrow arrow-next"
    *ngIf="activeslide < 2"
    (click)="navigate(1, 'next')"
  >
    &#8631;
  </div>

  <!--Content-->
  <div class="app-slides-content">
    <!--Slide 0-->
    <div class="slides slide-in-right slide-0 ">
      <div class="slide-0-row">
        <span>I'm a good team player</span>
      </div>
      <div class="slide-0-row">
        <span>I always welcome challenges in my job</span>
      </div>
      <div class="slide-0-row">
        <span>I have a significant experience in sales</span>
      </div>
      <div class="slide-0-row">
        <span>I'm a fast learner</span>
      </div>
      <div class="slide-0-row">
        <span>I'm diligent and patient</span>
      </div>
      <div class="slide-0-row">
        <span>I know a lot about marketing and financial services</span>
      </div>
      <div class="slide-0-row">
        <div>
          <div>What I'm planning...</div>
        </div>
      </div>
    </div>

    <!--Slide 1-->
    <div class="slides slide-1">
      <div class="slide-1-row">
        <div>...learned &nbsp;</div>
        <div><img src="assets/img/html.png" alt="html" /></div>
        <div><img src="assets/img/css.png" alt="css" /></div>
        <div><img src="assets/img/js.png" alt="js" /></div>
        <div>
          <img src="assets/img/jquery.png" alt="jquery" />
        </div>
      </div>

      <div class="slide-1-row">
        <div>now specialize in &nbsp;</div>
        <div><img src="assets/img/react.png" alt="react" /></div>
      </div>

      <div class="slide-1-row">
        <div>started to learn &nbsp;</div>
        <div><img src="assets/img/firebase.png" alt="firebase" /></div>
        <div><img src="assets/img/mongo.png" alt="mongo" /></div>
        <div><img src="assets/img/node.png" alt="node" /></div>
      </div>

      <div class="slide-1-row">
        <div>planning to learn</div>
        <div>
          <img src="assets/img/sql.png" alt="sql" />
        </div>
        <div>and basics of</div>
        <div><img src="assets/img/c.png" alt="c" /></div>
      </div>

      <div class="slide-1-row">
        <div>
          <div><div>I want to become a solid front-end developer!</div></div>
        </div>
      </div>
    </div>

    <!--Slide 2-->
    <div class="slides slide-2">
      <div class="slide-2-title">Meet me at<span>:</span></div>
      <div class="slide-2-links">
        <div class="slide-2-links-1">
          <a href="https://www.linkedin.com/in/dorota-kora" target="_blank">
            <img src="assets/img/linkedin.png" alt="linkedin" />
          </a>
        </div>
        <div class="slide-2-links-2">
          <a href="https://github.com/dorotakora" target="_blank">
            <img src="assets/img/github.png" alt="github" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
