<div class="app-slides">
  <!--Navigation-->
  <div class="go-back" (click)="gotoLandingPage()">X</div>
  <div
    class="arrow arrow-previous"
    *ngIf="activeslide > 0"
    (click)="navigate(-1, 'previous')"
  >
    &#8630;
  </div>
  <div
    class="arrow arrow-next"
    *ngIf="activeslide < 2"
    (click)="navigate(1, 'next')"
  >
    &#8631;
  </div>

  <!--Content-->
  <div class="app-slides-content">
    <!--Slide 0-->
    <div class="slides slide-in-right">
      <div class="row">I am a good team player</div>
      <div class="row">I always welcome challenges in my job</div>
      <div class="row">I have a significant experience in sales</div>
      <div class="row">I am a fast learner</div>
      <div class="row">I am diligent and patient</div>
      <div class="row">
        I know a lot about marketing and financial services
      </div>
    </div>

    <!--Slide 1-->
    <div class="slides">
      <div class="row">
        <div>...learned &nbsp;</div>
        <div><img src="images/html.png" alt="html" /></div>
        <div><img src="images/css.png" alt="css" /></div>
        <div><img src="images/js.png" alt="js" /></div>
        <div>
          <img src="images/jquery.png" alt="jquery" />
        </div>
      </div>

      <div class="row">
        <div>now specialize in &nbsp;</div>
        <div><img src="images/react.png" alt="react" /></div>
      </div>

      <div class="row">
        <div>started to learn &nbsp;</div>
        <div><img src="images/firebase.png" alt="firebase" /></div>
        <div><img src="images/mongo.png" alt="mongo" /></div>
        <div><img src="images/node.png" alt="node" /></div>
      </div>

      <div class="row">
        <div>planning to learn</div>
        <div>
          <img src="images/sql.png" alt="sql" />
        </div>
        <div>and basics of</div>
        <div><img src="images/c.png" alt="c" /></div>
      </div>

      <div class="row">
        <div>
          I want to become a solid front-end developer!
        </div>
      </div>
    </div>

    <!--Slide 2-->
    <div class="slides">
      <p>Meet me at:</p>
      <div>
        <div>
          <a href="https://www.linkedin.com/in/dorota-kora" target="_blank">
            <img src="images/linkedin.png" alt="linkedin" />
          </a>
        </div>
        <div>
          <a href="https://github.com/dorotakora" target="_blank">
            <img src="images/github.png" alt="github" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
