.app-slides {
  position: relative;
  color: white;
  width: 75vw;
  min-width: 700px;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.85);
}

// Go Back------------------------>

.outer-go-back {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  cursor: pointer;
}

.inner-go-back {
  width: inherit;
  text-align: center;
}

label {
  font-size: 0.5em;
  line-height: 2em;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner-go-back:before,
.inner-go-back:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: rgba(46, 204, 113, 1);
  left: 0;
  transition: all 0.3s ease-in;
}

.inner-go-back:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner-go-back:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer-go-back:hover label {
  opacity: 1;
}

.outer-go-back:hover .inner-go-back:before,
.outer-go-back:hover .inner-go-back:after {
  transform: rotate(0);
}

.outer-go-back:hover .inner-go-back:before {
  top: 0;
}

.outer-go-back:hover .inner-go-back:after {
  bottom: 0;
}

// @media (max-width: 768px) {
//   .outer-go-back {
//     width: 30px;
//   }
//   label {
//     font-size: 0.4em;
//     line-height: 2.5em;
//   }
// }
// @media (max-width: 414px) {
//   .outer-go-back {
//     width: 20px;
//     position: absolute;
//     top: 15px;
//     right: 15px;
//   }
//   label {
//     font-size: 0.3em;
//   }
// }

// Arrow Previous and Next------------------------>

.arrow-previous {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85), transparent 50%);
  z-index: 2;
  font-size: 3em;
  padding: 0 5px 0 5px;
}

.arrow-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.85), transparent 50%);
  z-index: 2;
  font-size: 3em;
  padding: 0 5px 0 5px;
}

.arrow-previous:hover,
.arrow-next:hover {
  cursor: pointer;
}

// Slides------------------------>

.app-slides-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  border: 1px solid red;
  position: absolute;
  right: -100%;
  width: 100%;
  min-width: 700px;
  height: 100%;
  // background: blue;
}

// .wrapper:hover #slide {
//   transition: 1s;
//   left: 0;
// }

// .slider {
//   position: absolute;
//   right: 100%;
//   width: 100%;
//   height: 100%;
//   background: blue;
//   // -webkit-animation: slide 0.5s forwards;
//   // -webkit-animation-delay: 1s;
//   // animation: slide 0.5s forwards;
//   // animation-delay: 1s;
// }

.slide-in-right {
  right: -100%;
  -webkit-animation: slide-in-right 1s forwards;
  // -webkit-animation-delay: 1s;
  animation: slide-in-right 1s forwards;
  //animation-delay: 1s;
}

@-webkit-keyframes slide-in-right {
  100% {
    right: 0;
  }
}

@keyframes slide-in-right {
  100% {
    right: 0;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 1s forwards;
  //-webkit-animation-delay: 1s;
  animation: slide-out-right 1s forwards;
  //animation-delay: 1s;
}

@-webkit-keyframes slide-out-right {
  100% {
    right: -100%;
  }
}

@keyframes slide-out-right {
  100% {
    right: -100%;
  }
}

.slide-in-left {
  left: -100%;
  -webkit-animation: slide-in-left 1s forwards;
  // -webkit-animation-delay: 1s;
  animation: slide-in-left 1s forwards;
  //animation-delay: 1s;
}

@-webkit-keyframes slide-in-left {
  100% {
    left: 0;
  }
}

@keyframes slide-in-left {
  100% {
    left: 0;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 1s forwards;
  // -webkit-animation-delay: 1s;
  animation: slide-out-left 1s forwards;
  //animation-delay: 1s;
}

@-webkit-keyframes slide-out-left {
  100% {
    //left: -100%;
    right: 100%;
  }
}

@keyframes slide-out-left {
  100% {
    // left: -100%;
    right: 100%;
  }
}

// Slide 0 ------------------------>

.slide-0 {
  padding-top: 3%;
  padding-bottom: 5%;
}

@mixin white-bck {
  color: rgba(46, 204, 113, 1);
  background-color: white;
  border: 1px solid rgba(46, 204, 113, 1);
  padding: 2px;
}

@mixin green-bck {
  color: white;
  background-color: rgba(46, 204, 113, 1);
  border: 1px solid white;
  padding: 2px;
}

.slide-0-row {
  height: 100%;
}

.slide-0 div:first-child {
  span {
    @include white-bck;
  }

  margin-left: 43%;
  transform: scale(0);
  animation-duration: 1s;
  animation-name: slideIn1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.slide-0 div:nth-of-type(2) {
  span {
    @include green-bck;
  }

  margin-left: 23%;
  transform: scale(0);
  animation-duration: 2s;
  animation-name: slideIn1;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.slide-0 div:nth-of-type(3) {
  span {
    @include green-bck;
  }

  margin-left: 40%;
  transform: scale(0);
  animation-duration: 3s;
  animation-name: slideIn1;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

.slide-0 div:nth-of-type(4) {
  span {
    @include white-bck;
  }

  margin-left: 65%;

  transform: scale(0);
  animation-duration: 2s;
  animation-name: slideIn1;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

.slide-0 div:nth-of-type(5) {
  span {
    @include green-bck;
  }

  margin-left: 18%;
  transform: scale(0);
  animation-duration: 2s;
  animation-name: slideIn1;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}
.slide-0 div:nth-of-type(6) {
  span {
    @include white-bck;
  }

  margin-left: 25%;
  transform: scale(0);
  animation-duration: 2s;
  animation-name: slideIn1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes slideIn1 {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.slide-0 div:nth-of-type(7) {
  :first-child {
    margin-left: 5%;
    border-left: 1px solid rgb(46, 204, 113, 1);
    padding-top: 0.2%;
    padding-bottom: 1%;

    :first-child {
      border-left: 1px solid rgb(46, 204, 113, 1);
      margin-left: -0.6%;
      padding-bottom: 1.5%;
      :first-child {
        padding-left: 3%;
        padding-bottom: 0.5%;
        border: none;
        border-bottom: 1px solid rgba(46, 204, 113, 1);
        margin-left: -2%;
        margin-right: 0;
        width: 40%;
      }
    }
  }
  color: rgba(46, 204, 113, 1);
  font-size: 1.25em;
  margin-left: 5%;
  margin-bottom: 2%;
}

// @media (max-width: 1024px) {
//   .slide-0 div:nth-of-type(7) :first-child :first-child :first-child {
//     width: 60%;
//   }
//   .slide-0 .slide-0-row span {
//     font-size: 0.8em;
//   }
// }

// @media (max-width: 768px) {
//   .slide-0 div:nth-of-type(7) :first-child :first-child :first-child {
//     width: 85%;
//     font-size: 0.9em;
//   }
//   .slide-0 .slide-0-row span {
//     font-size: 0.6em;
//   }

//   .slide-0 div:first-child {
//     margin-left: 31%;
//   }
//   .slide-0 div:nth-of-type(2) {
//     margin-left: 8%;
//   }

//   .slide-0 div:nth-of-type(3) {
//     margin-left: 12%;
//   }

//   .slide-0 div:nth-of-type(4) {
//     margin-left: 52%;
//   }

//   .slide-0 div:nth-of-type(5) {
//     margin-left: 38%;
//   }
//   .slide-0 div:nth-of-type(6) {
//     margin-left: 0.5%;
//   }
// }

// @media (max-width: 414px) {
//   .slide-0 div:nth-of-type(7) :first-child :first-child :first-child {
//     width: 95%;
//     font-size: 0.7em;
//   }
//   .slide-0 .slide-0-row span {
//     font-size: 0.4em;
//   }
// }

// Slide 1 ------------------------>

.slide-1 {
  // width: 100%;
  // height: 50vh;
  // display: flex;
  // flex-direction: column;
  // border: 1px solid blue;
  background-color: blue;
}

.slide-1-row {
  // width: 100%;
  height: 20%;
  padding: 0.2em 3em 0.2em 3em;
  box-sizing: border-box;
  display: flex;
  // border: 1px solid yellow;
}

.slide-1 .slide-1-row:nth-of-type(1) {
  justify-content: flex-start;
}

.slide-1 .slide-1-row:nth-of-type(2) {
  justify-content: flex-end;
}

.slide-1 .slide-1-row:nth-of-type(3) {
  justify-content: flex-start;
}

.slide-1 .slide-1-row:nth-of-type(4) {
  justify-content: flex-end;
}

.slide-1 .slide-1-row:nth-of-type(5) {
  justify-content: center;
}

.slide-1 .slide-1-row:nth-of-type(5) {
  :first-child {
    border-left: 1px solid rgba(46, 204, 113, 1);
    height: 80%;
    margin-left: -2%;
    :first-child {
      border-left: 1px solid rgb(46, 204, 113, 1);
      margin-left: -1%;
      padding-bottom: 2%;
      :first-child {
        padding-left: 5%;
        padding-right: 6%;
        border: none;
        border-bottom: 1px solid rgba(46, 204, 113, 1);
        margin-left: -3%;
      }
    }
  }
  color: rgba(46, 204, 113, 1);
  font-size: 1.25em;
  padding-right: 0;
}

.slide-1-row div {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  // border: 1px solid pink;
}

.slide-1 .slide-1-row div img {
  // max-width: 100%;
  max-height: 100%;
  opacity: 0;
  animation-duration: 4s;
  animation-name: fadeIn;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// @media (max-width: 1024px) {
//   .slide-1-row {
//     padding: 1em 2em 1em 2em;
//   }

//   // .slide-1 .slide-1-row img {
//   //   max-width: 90%;
//   //   max-height: 90%;
//   // }
//   .slide-1 .slide-1-row:nth-of-type(5) :first-child :first-child :first-child {
//     font-size: 0.8em;
//   }
// }

// @media (max-width: 768px) {
//   .slide-1-row {
//     padding: 1em 1em 1em 1em;
//   }

//   .slide-1-row div:first-child {
//     font-size: 0.7em;
//   }
//   .slide-1-row div:nth-of-type(3) {
//     font-size: 0.7em;
//   }

//   .slide-1 .slide-1-row img {
//     max-width: 85%;
//     max-height: 85%;
//   }
// }

// @media (max-width: 620px) {
//   .slide-1-row {
//     padding: 1em 0.5em 1em 0.5em;
//   }

//   .slide-1-row div:first-child {
//     font-size: 0.5em;
//   }
//   .slide-1-row div:nth-of-type(3) {
//     font-size: 0.5em;
//   }

//   .slide-1 .slide-1-row img {
//     max-width: 70%;
//     max-height: 70%;
//   }
// }

// @media (max-width: 414px) {
//   .slide-1-row div:first-child {
//     font-size: 0.3em;
//   }
//   .slide-1-row div:nth-of-type(3) {
//     font-size: 0.3em;
//   }
//   .slide-1 .slide-1-row img {
//     max-width: 100%;
//     max-height: 100%;
//   }
// }

// Slide 2 ------------------------>

.slide-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-2-title {
  font-size: 2.5rem;
  font-weight: bold;
  span {
    color: rgba(46, 204, 113, 1);
  }
}

.slide-2-links {
  display: flex;
  height: 3.5em;
}

.slide-2-links-1,
.slide-2-links-2,
.slide-2-links-3 {
  display: inline-block;
  height: 100%;
  padding: 1em 1em;
}

.slide-2-links img {
  max-width: 100%;
  max-height: 100%;
}

.slide-2-links-3 img {
  background-color: transparent;
}

// @media (max-width: 1024px) {
// }

// @media (max-width: 768px) {
//   .slide-2-title {
//     font-size: 2rem;
//   }
//   .slide-2-links {
//     height: 2.5em;
//   }
//   .slide-2-links-1,
//   .slide-2-links-2,
//   .slide-2-links-3 {
//     padding: 0.5em 0.5em;
//   }
// }

// @media (max-width: 414px) {
//   .slide-2-title {
//     font-size: 1.5rem;
//   }
//   .slide-2-links {
//     height: 2em;
//   }
//   .slide-2-links-1,
//   .slide-2-links-2,
//   .slide-2-links-3 {
//     padding: 0.3em 0.3em;
//   }
// }
