.app-landingpage {
  position: relative;
  color: white;
  width: 75vw;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingpage-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landingpage-name {
  font-size: 2em;
  padding: 0.5em;
}

.landingpage-enter {
  border: 1px solid white;
  text-align: center;
  padding: 0.2em;
  background-color: rgba(46, 204, 113, 1);
  width: 100%;
}
.landingpage-enter:hover {
  cursor: pointer;
  color: rgba(46, 204, 113, 1);
  background-color: white;
  border: 1px solid rgba(46, 204, 113, 1);
  transition: 1s;
}

@media (max-width: 768px) {
  .landingpage-name {
    display: flex;
    justify-content: center;
  }
  .landingpage-name img {
    width: 80%;
    margin: 0;
  }
  .landingpage-enter {
    width: 80%;
    margin: 0;
    font-family: 0.8em;
  }
}
